@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);





html {
  overflow-x: hidden;
}

body { overflow-x: hidden;
  
  color: #333;
 
}

* {
  margin: 0;
  font-size: 1rem;
  font-family: 'IranianSansRegular';
  
}

a {
  text-decoration: none;
  color: black;
}

.navbar-home {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 800px;
  background-color: transparent;
  
  position: absolute;
  right: 100px;
  top: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100px;
  background-color: transparent;
  
  position: absolute;
  top: 10px;
  right: 0;
}

.nav-links {
  
  text-decoration: none;
  width: 150px;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
  border: solid 2px transparent;
  padding: 10px;
  text-align: center;
  transition: 0.4s ease-in-out;
  color: #333;
  
  
}



.nav-links:hover {
  border: #333 solid 2px;
  
  
}

.hamburger {
   
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  z-index: 6;
  top: 25px;
  right: 25px;
  display: none;
}

.hamburger:hover {
  background-color:#333;
  color: white;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
 }

.bgImage {
  height: 100vh;
  margin-left: 0;
}



.title {
  /* position: absolute;
  top: 55%;
  left: 35%; */
  font-family: "Quicksand";
  font-size: 4rem;
  text-align: center;
}

.subhead{
  /* position: absolute;
  top: 67%;
  left: 43%; */
  text-align: center;
  font-family: "Quicksand";
}


.header-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  margin-top: 270px;
}


.icons {
  width: 20px;
  padding-right: 20px;
  transition: 0.4s linear;
}

.icons:hover {
  transform: scale(0.9);
}



.icons-div {

  margin-top: 35px;
  display: flex;
  margin-bottom: 5PX;
  justify-content: center;
  align-items: center;
  
  
}

.icons-footer {
  width: 18px;
  padding-right: 15px;
  object-fit: contain;
  
}



.biography {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid #333;
  margin-top: 100px;
  margin: 100px 50px 0 50px;
  justify-content: space-around;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;


}

.about {
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  
}



header {
  text-align: right;
}

.home {
  
  background-color: #ebebeb;
}

.description{
  

  text-align: justify;
  direction: rtl;
 
  line-height: 1.9;
  margin: 10px 0 0 0;
 width: 45%;
  display: flex;
  flex-direction: column;
  
  text-justify: inter-word;
  justify-content: center;
  
}

.name{
  
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 10px;
}



.audio {
  
  
  margin-top: 50px;
  width: 100%;
  
}

.med-info {
  position: absolute;
  top: 800px;
  right: 200px;
}




.profilePic {
  
  margin-top: 100px;
  width: 300px;
  margin-bottom: 100px;
  border-radius: 10px;
  filter: grayscale();
}

.links-cont {
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.links-div{
  border: 2px #333 solid;
  border-radius: 20px;
  background-color: white;
  height: 200px;
  width: 600px;
  margin:0 auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  position: absolute;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
}

.h-line {
  height: 2px;
  background-color: #333;
  width: 100%;
  margin-top: 40px;
  

}

.btn-div {
  display: flex;
  align-items: center;
  
}

.links-title {
  text-align: center;
  /* font-size: 1.3rem; */
  padding-top: 15px;
  padding-bottom: 30px;
}

.button {
  
border: 2px solid;

/* margin-right: 30px; */
text-decoration: none;
width: 120px;
height: 35px;
border-radius: 5px;
display: flex;
text-align: center;
flex-direction: column;
justify-content: center;
/* font-size: 1.2rem; */
/* font-weight: 400; */
transition: 0.3s ease-in-out;
background-color: #333;
color: #EFEFEF;
margin: 25px;
}

.button:hover {
  background-color: #d5eef8;
  color: #333;
}




.alemiNo {
  
  
  width: 100%;
  height: 50%;
  object-fit: cover;
  

}

.card {
  overflow: hidden;
  margin: 150px auto 50px;
  width: 350px;
  height:500px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #333;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
  
  
 
}

.card-header {
  display: flex;
  padding:10px;
  justify-content: space-around;
}



.card-text {
  padding:10px;
  line-height: 1.2;
  text-align: center;
 
}

.info-pic {
  display: flex;
  border: 10px black solid;
  width: 90vw;
}

.img-cont {
  display: flex;
  justify-content: center;
}

.info {
  margin: 150px;
}

.button-yoga {
  border: 2px solid;
  margin-left: auto;
  margin-top: 60px;
  width:100px;
  height: 35px;
  border-radius: 10px;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  color: #EFEFEF;
 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.button-yoga:hover {
  background-color: #d5eef8;
  color: #333;
}

.yoga {
  width: 70%;
  text-align: justify;
  direction: rtl;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 80px;
  line-height: 1.9;
  
  
  
}

.border-div {
  margin: 100px auto;
  padding: 50px;
  display: flex;
  border: 2px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
}


.border-column {
  margin: 100px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
}

.waterDrop {
  width: 100%;
  
  height: 250px;
  object-fit: cover;
  
  
}

.yogaImg-div {
  display: flex;
 align-items: center;
 justify-content: center;
  
}

.page-title {
  
  font-size: 1.6rem;
  position: absolute;
  top:200px;
  right: 200px;
  color: #EFEFEF;
}

.drop-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  
}

.audio-div {
  
  text-align: center;
  margin-top: 100px;
  
}

.footer {
  width: 100vw;
  
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
}

.footer-cont {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  display: flex;
  justify-content: center;
 
}

.icon-p {
  
  margin-bottom: 15px;
}

.rights {
  font-size: 0.8rem;
}

.facial {
  margin: 150px;
}

.facial-info {
  
  text-align: right;
  direction: rtl;
  line-height: 1.9;
  text-justify: inter-word;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin:80px 0 0 auto ;
}

.health-img {
  width: 100%;
  
  height: 250px;
  object-fit: cover;
}

.services {
  margin-top: 50px;
  text-align: right;
  line-height: 1.6rem;
}



.main-links {
  text-align: right;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  margin:50px;
  padding: 15px;
  border: 2px solid white;
  width: 150px;
}

.main-link {
  font-size: 0.8rem;
  padding: 5px;

}

.main-link:hover {
  color: white;
  
}

.number {
  display: flex;
  /* justify-content: center; */
  font-size: 0.8rem;
  
}

.address {
   display: flex; 
  /* justify-content: space-around;  */
  margin-top: 20px;
}

.address-text {
  font-size: 0.8rem;
}

.link-title {
  margin-bottom: 15px;
  border-bottom: white 2px solid;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.footer-logo {
  width: 120px;
  padding: 10px;
}

#nav-open, #nav-closed {
  display: flex;
}


/* Media Queries */

@media screen and (max-width: 700px) {

  .title {
   
  font-size: 2rem;
  
  }

  

  .header-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    margin-top: 270px;
    
  }

  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }

.navbar-home, .navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    transition: all 1s ease-in-out;
  }

  .navbar-home {
    background-color: #ebebeb;
  }

  
  .navbar {
    background-color: white;
  }

  #nav-open {
    display: flex
  }

  #nav-closed {
    display: none
  }

  .biography {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    margin-top: 100px;
    margin: 100px 50px 0 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
  box-shadow: 5px 5px 15px 0px #a1a1a1;
  
  
  }

  .profilePic {
  
    margin-top: 30px;
    
    overflow: hidden;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    filter: grayscale();
  }
  
  .description{
  text-align: justify;
  direction: rtl;
  line-height: 1.6;
  margin: 10px 0 10px 0;
  width: 95%;
  
  display: flex;
  flex-direction: column;
  
  
  
  text-justify: inter-word;
  justify-content: center;
  }

  .name{
  
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.8rem;
  }

  .card {
    overflow: hidden;
    margin: 80px auto 0;
    width: 300px;
    height:400px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #333;
    -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
  box-shadow: 5px 5px 15px 0px #a1a1a1;
  }

  .links-div{
    border: 2px #333 solid;
    border-radius: 20px;
    background-color: white;
    height: 200px;
    width: 300px;
    margin:80 auto 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    position: absolute;
    -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
  box-shadow: 5px 5px 15px 0px #a1a1a1;
  }
  
  .button {
  
    border: 2px solid;
    
    /* margin-right: 30px; */
    text-decoration: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
    background-color: #333;
    color: #EFEFEF;
    margin: 15px;
    }
    
    .button:hover {
      background-color: #d5eef8;
      color: #333;
    }


    .footer {
      width: 100vw;
      
      display: flex;

      
      
    }

    
    
    .footer-cont {
      background-color: #ebebeb;
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
    }

    .rights {
      font-size: 0.7rem;
    }
    
    
    .footer-logo {
      width: 85px;
      padding: 10px;
    }

    .address-text {
      
     font-size: 0.7rem;
   }

   .link-title {
    font-size: 0.7rem;
   }

   .main-link{
    font-size: 0.7rem;
   }

   .icons-footer {
    width: 15px;
    padding-right: 5px;
    object-fit: contain;
    
  }

  .main-links {
    text-align: right;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    margin:8px 20px 0 0;
    padding: 15px;
    border: 2px solid white;
    width: 120px;
  }

  .nav-links {
  
    text-decoration: none;
    width: 120px;
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    box-sizing: border-box;
    border: solid 2px transparent;
    
    text-align: center;
    transition: 0.4s ease-in-out;
    color: #333;
    
    
  }

  .icons {
    width: 15px;
    padding-right: 8px;
    transition: 0.4s linear;
  }

  .logo {
    width: 90px;
    margin-top: 10px;
   }

   .waterDrop {
    width: 100vw;
    
    height: 250px;
    object-fit: cover;
   }

   .page-title {
  
    font-size: 1.3rem;
    position: absolute;
    top:150px;
    right: 100px;
    color: #EFEFEF;
    
    
  }
  
  .border-div {
    margin-top: 60px;
    /* width: 100vw; */
    
   
    padding: 25px;
    display: flex;
    border: 2px solid #333;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
  box-shadow: 5px 5px 15px 0px #a1a1a1;
  }
    
  
  .yoga {
    width: 100%;
    text-align: justify;
    direction: rtl;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 10px;
    line-height: 1.9;
  }

  .info {
    margin: 100px;
  }

  .button-yoga {
    width: 80px;
  }

  .audio {
  
  
    margin-top: 30px;
    width: 100%;
    
  }

  .card-title {
    font-size: 0.8rem;
  }



  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:8px;
    justify-content: space-around;
    
  }

  .health-img {
    width: 100vw;
    
    height: 250px;
    object-fit: cover;
  }

  .facial {
    margin: 100px;
  }


  
  


  
}