@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


html {
  overflow-x: hidden;
}

body { overflow-x: hidden;
  /* background-color: #ebebeb; */
  color: #333;
}

* {
  margin: 0;
  font-family: "Quicksand";
 
  
}

a {
  text-decoration: none;
  color: black;
}

.navbar-home {
  /* position: absolute; */
  
  /* margin-right: 30px; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 800px;
  background-color: transparent;
  
  position: absolute;
  right: 100px;
  top: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100px;
  background-color: transparent;
  
  position: absolute;
  top: 10px;
  right: 0;
}

.nav-links {
  
  text-decoration: none;
  width: 150px;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  box-sizing: border-box;
  border: solid 2px transparent;
  padding: 10px;
  text-align: center;
  transition: 0.4s ease-in-out;
  color: #333;
  
  
}



.nav-links:hover {
  border: #333 solid 2px;
  
  
}


.logo {
  width: 150px;
  margin-bottom: 10px;
 }

.bgImage {
  height: 100vh;
  margin-left: 0;
}



.title {
  position: absolute;
  top: 55%;
  left: 35%;
  font-size: 4rem;
  text-align: center;
}

.subhead{
  position: absolute;
  top: 67%;
  left: 43%;
  text-align: center;
}



.icons {
  width: 20px;
  padding-right: 20px;
  transition: 0.4s linear;
}

.icons:hover {
  transform: scale(0.9);
}



.icons-div {

  margin-top: 60px;
  display: flex;
  margin-bottom: 5PX;
  justify-content: center;
  align-items: center;
}

.icons-footer {
  width: 20px;
  padding-right: 20px;
}



.biography {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid #333;
  margin-top: 100px;
  margin: 100px 50px 0 50px;
  justify-content: space-around;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;

}

.about {
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  
}



header {

  /* /* margin-top: 100px;
  margin-bottom: 50px; */
   
  text-align: right;
  /* font-size: 1.5rem; */
   
}

.home {
  /* border-bottom: 2px solid white; */
  background-color: #ebebeb;
}

.description{
  

  text-align: justify;
  direction: rtl;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 10px 20px 0 0;
 width: 45%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-justify: inter-word;
  justify-content: center;
  
  
  
   
}





.name{
  
  text-align: right;
  font-size: 1.6rem;
}



.audio {
  
  
  margin-top: 50px;
  
}

.med-info {
  position: absolute;
  top: 800px;
  right: 200px;
}




.profilePic {
  
  margin-top: 100px;
  width: 300px;
  
  
  margin-bottom: 100px;
  border-radius: 10px;
  filter: grayscale();
  
}

.links-cont {
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.links-div{
  border: 2px #333 solid;
  border-radius: 20px;
  background-color: white;
  height: 200px;
  width: 600px;
  margin:0 auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  position: absolute;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
}

.h-line {
  height: 2px;
  background-color: #333;
  width: 100%;
  margin-top: 40px;
  

}

.btn-div {
  display: flex;
  align-items: center;
  
}

.links-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.button {
  
border: 2px solid;

/* margin-right: 30px; */
text-decoration: none;
width: 120px;
height: 30px;
border-radius: 5px;
display: flex;
text-align: center;
flex-direction: column;
justify-content: center;
font-size: 1.2rem;
font-weight: 400;
transition: 0.3s ease-in-out;
background-color: #d5eef8;
color: #333;
margin: 25px;
}

.button:hover {
  background-color: #333;
  color: #EFEFEF;
}




.alemiNo {
  
  
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;

}

.card {

  margin: 150px auto 50px;
  width: 300px;
  height:400px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #333;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
  
  
 
}

.card-header {
  display: flex;
  padding:10px;
  justify-content: space-around;
  font-size: 1.2rem;
  
}



.card-text {
  padding:5px;
  font-size: 0.9rem;
  text-align: center;
}





.info-pic {
  display: flex;
  border: 10px black solid;
  width: 90vw;
}

.img-cont {
  display: flex;
  justify-content: center;
}
.info {
  
  margin: 150px;
  
  
}







.button-yoga {
  margin-left: auto;
  margin-top: 60px;
  width:120px;
  height: 40px;
  border-radius: 10px;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  color: #EFEFEF;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
  

  
}

.button-yoga:hover {
  background-color: #EFEFEF;
  color: #333;
}

.yoga {
  width: 70%;
  text-align: justify;
  direction: rtl;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 80px;
  
  
}

.border-div {
  margin: 100px auto;
  padding: 50px;
  display: flex;
  border: 2px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
}


.border-column {
  margin: 100px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #a1a1a1; 
box-shadow: 5px 5px 15px 0px #a1a1a1;
}

.candle {
  width: 100%;
  
  height: 250px;
  object-fit: cover;
  
}

.yogaImg-div {
  display: flex;
 align-items: center;
 justify-content: center;
  
}

.yoga-title {
  
  position: absolute;
  top:200px;
  right: 200px;
  color: #EFEFEF;
}

.drop-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.audio-div {
  
  text-align: center;
  margin-top: 100px;
  
}

.footer {
  width: 100vw;
  background-color: #ebebeb;
  display: flex;
}

.icon-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  
  margin-left: auto;
  
  margin:auto auto 15px auto;
}

.facial {
  margin: 150px;
}

.facial-info {
  
  
  text-align: right;
  direction: rtl;
  font-size: 1.2rem;
  line-height: 1.6;
  text-justify: inter-word;
  width: 100%;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 80px;
  

}

.health-img {
  width: 100%;
  
  height: 250px;
  object-fit: cover;
}

.facial-title {
  margin: 100px 80px 0 0;
  position: absolute;
  top: 130px;
  right: 130px;
  color: #EFEFEF;
}



.services {
  margin-top: 50px;
  text-align: right;
  font-size: 1.2rem;
  

}



.main-links {
  text-align: right;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  
  width: 80px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 15px;
}

.main-link:hover {
  text-decoration: underline white;


}

.link-title {
  margin-bottom: 15px;
  border-bottom: white 2px solid;
}

.footer-logo {
  width: 130px;
  padding: 10px;
}